.tweet {
  display: block;
  box-sizing: border-box;
  border: 1px solid #38444d;
  border-collapse: collapse;
  padding: 10px 20px;
}

.tweet:hover {
  background: #1C1D21;
}

.title__row {
  display: flex;
  flex-direction: row;
}

.user__image {
  margin: 0px 20px 0px 0px;
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.name__row {
  display: flex;
  flex-direction: row;
}

.user__name {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.user__screen__name {
  color: #fff;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.tweet__text {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}

.display__image {
  margin-top: 10px;
  width: 500px;
  height: 280px;
}

.retweeted__by {
  margin-bottom: 5px;
  color: #fff;
  font-size: 11px;
}

img {
  text-indent: -10000px
}
